<div class="u-inner">
   <div class="Dialog-header">
    <p class="Dialog-headerTitle">
      <div style="user-select:text;font-size:16px">
        Link: <a class="js-bbg-link" href="<%= link %>"><%= bbg_link %>&lt;GO&gt;</a>
      </div>
    </p>
  </div>
</div>
