<div class="u-inner">
   <div class="Dialog-header">
    <p class="Dialog-headerTitle">
      <div style="user-select:text;font-size:16px">
        Link: <a href="<%- link %>"><%- bbg_link %>
      </div>
    </p>
  </div>
</div>
