<div class="u-inner">
   <div class="Dialog-header">
    <p class="Dialog-headerTitle">
      <div style="user-select:text;font-size:16px">
        Link: <span class="js-bbg-sample-link">{<%= bbg_link %> &lt;GO&gt;}</span>
      </div>
    </p>
  </div>
</div>
