<% var profAttrs = cdb.admin.ProfileAttributes.load(); %>
<% var jumpToAVMMBaseUrl = profAttrs.get('jumpToAVMMBaseUrl'); %>
<div class="u-inner">
  <div class="Dialog-header">
    <div class="Dialog-headerIcon Dialog-headerIcon--neutral">
      <i class="CDB-IconFont CDB-IconFont-ray"></i>
    </div>
    <p class="Dialog-headerTitle">
      Saved to<a href="<%= jumpToAVMMBaseUrl + '/AVMM%20' + response.content[0].html[0] %>">
        {AVMM <%= response.content[0].html[0] %> &lt;GO&gt;}</a>.
    </p>
  </div>
</div>
