<div class="ImportPanel-header">
  <h3 class="DefaultTitle">
    <% if (typeof titleHtml !== 'undefined') { %>
      <%= titleHtml %>
    <% } else { %>
      <%- title %>
    <% } %>
  </h3>
  <p class="ImportPanel-headerDescription ImportPanel-headerDescription--withoutWidth">
    <%- desc %>
  </p>
</div>
