<li class="smaller strong tab button">
<a href="#/save-map" class="Header-settingsItem js-save-map">Save a Copy to Make Changes</a>
</li>
<li class="smaller strong tab button">
<a href="<%- dashboard_url %>" class="Header-settingsItem">Back to Map Library</a>
</li>

<li class="Header-settingsItem u-hideOnTablet">
  Map Title
</li>

<li class="Header-settingsItem u-hideOnTablet">
  <%- vis_name %>
</li>

