<div class="Header" id="header">
  <div class="u-inner Header-inner">

    <div class="Header-title">
      <ul class="Header-settingsList js-user-settings">
        <li class="Header-settingsItem js-login">
          Title
        </li>
        <li class="Header-settingsItem js-login">
          <%= @visualization.name %>
        </li>
    </div>
  </div>
</div>
